fastapi==0.115.12
langchain==0.3.25
langchain-mcp-adapters==0.1.0
langgraph==0.4.5
mcp>=1.9.4
langchain-openai==0.3.24
pydantic==2.11.4
tomli==2.2.1
uvicorn==0.34.2
httpx==0.28.1
pillow==11.2.1
volcengine==1.0.190
openai==1.90.0
-e .