fastapi==0.109.2
uvicorn==0.27.0.post1
python-multipart==0.0.9
MainContentExtractor==0.0.4
aiohttp==3.11.16
websockets==15.0.1
faiss-cpu==1.10.0
browser_use @ git+https://github.com/zzxwill/browser-use.git@i18n
