fastapi>=0.115.12
pydantic>=2.11.1
uvicorn>=0.34.0
pillow>=11.1.0
python-dotenv>=1.1.0
pydantic-settings>=2.8.1
asgi-correlation-id>=4.3.4
volcengine-python-sdk>=1.1.5
python-json-logger>=3.3.0
requests>=2.32.3