/.gradle
/local.properties
/.idea/gradle.xml
/.idea/misc.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/*
/.run/*
/.idea/
build
/version/.gradle/
/remote
.cxx/
applet_config.gradle